<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8 text-center">
      <h1 class="display-5">Acerca de mí</h1>
      <p class="lead mt-3">
        ¡Hola! Soy Ignacio, estudiante de Ingeniería industrial. Esta aplicación fue creada como parte del Lab 3 del curso de Tecnologías Web.
      </p>
      <img src="https://media.elcomercio.com/wp-content/uploads/2023/01/perrito-700x391.jpg" class="rounded-circle mt-4 mb-4" alt="Foto de perfil">
      <p>
        Me apasiona aprender nuevas tecnologías, construir aplicaciones útiles y resolver problemas con código. Estoy emocionado de seguir creciendo en el desarrollo de software.
      </p>
    </div>