
<div class="text-center">
<h1 class="display-4">Bienvenido a Lab3Rails</h1>
<p class="lead mt-3">Esta es una aplicación web creada con Ruby on Rails como parte del Lab 3.</p>
<hr class="my-4">
<p>Utiliza el menú de navegación superior para conocer más sobre esta app o contactarte.</p>
<a class="btn btn-primary btn-lg" href="<%= about_path %>" role="button">Saber más</a>
</div>